html {
    margin: 0px;
    min-width: 400px;
    min-height: 510px;
    font-family: "Google Sans","Helvetica","Arial",sans-serif, !important;
}

.toolbaricons_item {
    margin: 1px;
    cursor: pointer;
}

.option-row {
    border-bottom: 1px inset #e5e5e5;
    padding: 15px 0
}

.option-group {
    color: #777;
    font-size: 14px;
	margin-left: 10px;
    width: 150px
}
