html {
  margin: 0px;
  min-width: 300px;
  min-height: 360px;
  font-family: Google Sans, "Helvetica", "Arial", sans-serif;
}

@font-face {
  font-family: Google Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/google-sans-400.woff2) format("woff2")
}

@font-face {
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/google-sans-500.woff2) format("woff2")
}

.btn-flat:hover {
  background-color: #dadada;
  transition: .2s ease-out;
}

.fontgoogle {
  font-family: Google Sans, "Helvetica", "Arial", sans-serif;
}

nav .brand-logo {
  /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
}

nav .brand-logo.left {
  left: 1rem !important;
}

i.icon-grey {
  color: grey;
  cursor: pointer;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: rgb(119, 171, 231);
}
